*{
  box-sizing: border-box;
}

body{
 margin: 0;
 padding: 0;
 font-family: "Open Sans";
 color:#6e6e6e;
 background:#404041;
}
svg {
   width:15px;
   height:15px;
}
button{
 height:2rem;
 border-radius:25px;
 background:#6e6e6e;
 color:#ffffff;
 height:5vh;
 font-size:14px;
 font-weight:bold;
}

article{
padding:2vw;
}

input{
 height:4vh;
 width: 95%;
}

ul{
  list-style: none;
  padding-left: 0;
}
#motto{
  color:white;
}

#number-guess-title{
 font-size: 5rem;
 display:flex;
 align-items:flex-end;
 justify-content:center;
 font-weight: bold;
 color: #DD1972;
 height:10vh;
 /*padding-top: */
}

#motto::before{
  content: '';
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px lightgrey solid;
  width:100px;
  height: 15px;
  margin-right: 5px;
}

#motto{
  display:flex;
 /*align-items:flex-end;*/
 justify-content:center;
  font-size: 1.5rem;
  color:white;
  font-weight: 400;
  padding-bottom: 1%;
}
#motto::after{
  content: '';
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px lightgrey solid;
  width:100px;
  height: 15px;
  margin-left: 5px;
}

#number-guess-title::after {
 content:'GUESSER';
 font-weight: lighter;
}

.container{
 margin:0;
 padding:0;
 background: fuchsia;
 display: flex;
}

#left-section{
 height: 90vh;
 width: 50%;
 background: #f7f7f7;
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
}
/*               RANGE SECTION              */
#range-section{
  background:#fefefe;
  padding: 1%;
  /*border: solid #d0d2d3 1px;*/
  box-shadow: 0px 0px 1px 2px #d0d2d3;
}
#set-range{
  width: 100%;
}

form{
 display:flex;
 justify-content: space-between;
 /*height:calc(100% / 3);*/
 width:100%;
 flex-wrap:wrap;
 /*background:blue;*/
}

#input-titles{
 width:100%;
 display:block;
 font-weight:bold;
 /*background:blue;*/
}
.min-range-div{
 width:33%;
}
#min-range-input{
 width:95%;
 /*box-shadow: 0px 0px 1px 2px #d0d2d3;*/
 /*border: 1px #d0d2d3 solid;*/
}
#min-range-error::before{
content: url(../img/error-icon.svg);
height:15px;
width:15px;
}

#min-range-error{
 color:#dd1972;
 visibility: hidden;
}
.max-range-div{
 width:33%;
}
#max-range-input{
 width:95%;
 /*box-shadow: 0px 0px 1px 1px #d0d2d3;*/
 /*background:blue;*/
}

#max-range-error::before{
content: url(../img/error-icon.svg);
height:15px;
width:15px;
/*visibility: hidden;*/
}

#max-range-error{
 color:#dd1972;
 visibility: hidden;
}

#update-button-div{
 width:33%;
 display:flex;
 align-items:center;
}

#update-button{
 flex:1;
}

/*         CHALLENJOUR SECTION             */
#challenger-section{
  
  background: #fdfdfd;
  margin:2% 0;
  padding:2%;
  box-shadow: 0px 0px 1px 2px #d0d2d3;
  /*background:blue;*/
}
#number-range{
 width:100%;
 margin-bottom:20px;
 padding:0;
 /*background:blue;*/
}
#min-range-number,
#max-range-number
{
 font-weight:bold;
 text-decoration:underline;
}

#challenger-form{
  display: flex;
  flex-direction: column;
  list-style: none;
}
#challenger-form ul{
  display: flex;
  /*flex-flow: wrap;*/
}

.bold {
  font-style: bold;

}
.challenger-form-section1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex:3;
}
.challenger-form-section2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex:1;
}

#challenger1-name-input,
#challenger2-name-input{
  padding-right: 15px;
}

#clear-reset-section{
 width:100%;
 margin-top:1%;
 background:#fefefe;
 display:flex;
 align-items:center;
}
#submit-button{
 flex:1;
 font-size:18px;
 font-weight:bold;
}

#reset-button{
 flex:1;
}

#clear-button{
 flex:1;
}

/*         GUESS RESPONSE SECTION          */
#latest-guess-section {
  box-shadow: 0px 0px 1px 2px #d0d2d3;
  display: flex;
  padding: 1% 2% 2% 2%;
}

.hide-me{
  visibility: hidden;
}
#challenger1-latest-guess,
#challenger2-latest-guess{
  flex:1;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
}

#challenger2-latest-guess{
  border-left: 1px solid lightgrey;
}
.bold{
  font-weight: bold;
}

#challenger1-guessed-number,
#challenger2-guessed-number{
 color: #f74D98;
 font-size: 5rem;
 font-weight: bold;
 padding-top: 0;
 margin-top: 0;
}
#challenger1-latest-guess .float-left{
  float:left;
  width: 100%;
  font-weight: bold;
  /*background:black;*/
  z-index: 100;
  font-size:1.2rem;
}


#right-section{
 height:90vh;
 /*max-height: 100vh;*/
 width: 50vw;
 background: #d0d2d3;
 display:flex;
 align-items: center;
 /*justify-content: center;*/
 flex-direction:column;
/*   padding- right:3vw; */
  overflow-y: scroll;
  padding-top: 2%;
  padding-bottom: 0;
  box-sizing: border-box;
  border-left: 1px grey solid;
}

.card{
  border: 2px grey solid;
  min-height:250px;
  height: 10vhpx;
  max-height: 250px;
  width: 80%;
  display:flex;
  flex:1;
  flex-direction:column;
  padding:0 10px;
  margin: 25px 0;
  background:#f7f7f7;
  box-sizing: border-box;
  
}

.challenger-names{
  display:flex;
  justify-content:space-between;
  align-items:center;
   /*background:red; */
  height:20%;
  border-bottom: solid 2px lightgrey;
}

.challenger1-card-name{
  font-weight:bolder;
}
.vs{
  padding: 0 5px;
  font-weight:lighter;
}
.challenger2-card-name{
  font-weight:bolder;
}
.winner{
/*   background:white; */
  height:60%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  justify-content:center;
  align-items:center;
}
.winner-name{
  font-weight:bolder;
  font-size: 1.5rem;
}
.stats{
/* background:blue; */
height:20%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-top: solid 2px lightgrey;
}
.stats button{
  float:right;
}


.del-button {
  height: 30px;
  width: 30px;
}
/***********MEDIA QUERIES*********/

/* Large devices (large desktops, 1200px and up) */
 @media (max-width: 1210px) {
   #number-guess-title{
     font-size: 3.5rem;
   }
 }

 /* Large devices (large desktops, 1200px and up) */
 @media (max-width: 1000px) {
   #number-guess-title{
     font-size: 3rem;
   }

 }

 /* Medium devices (desktops, 992px and up) */
 @media (max-width: 770px) {
   #number-guess-title{
   font-size: 2rem;
   }
 }


/* Small devices ( up to 420px) */
 @media only screen and (max-width: 514px) {
   body{
     font-size: 13px;
   }
   #number-guess-title{
     font-size: 1rem;
     display:flex;
     align-items:flex-end;
     height:20%;
/*       background:black; */
   }
   .min-range-div{
     width:50%;
   }

   .max-range-div{
     width:50%;
   }
   #update-button-div{
     margin: 0 30px;
     width: 100%;
/*       background:black; */
   }
   #submit-button{
     font-size:1rem;
    }
   #right-section section{
/*       align-items:flex-start; */
     text-align:center;
     font-size:2rem;
   }
   #guess-response{
     align-items:flex-start;
   }
   
 }